<form action="POST" method = "/create_puppy">
  <p>Puppy name: <input type="text" name="name"></p>
  <p>Puppy breed: <input type="text" name="breed"></p>
  <p>Puppy name: <input type="text" name="name"></p>
  <input type="submit" name="submit" value ="submit">
</form>
